body {
    background-color: #f4c524;
}

#newAccountWelcomeMessage{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
#Sign-up{
    display: flex;
    justify-content: center;
    margin-top: 2%; 
}

#create-new-account-container {
   background-color: #f6f6f6;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 20px;
    width: 40%;
    height: 80%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

#newAccountConfirmMessage{
    color: #e4174f;
}