body {
    background-color: #f4c524;
}

#create-new-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

#changePasswordButton {
    background-color: #f4c524;
    color: black;
    width: 100%;
}